.mynav {
    background-color: #003566;
}
.mynav .navbar-nav a .nav-link {
    color: #fff;
    font-weight: 600;
}
.mynav .navbar-nav .nav-link.active {
    color: #E1BE41;
}
.mynav .navbar-nav .nav-link.active, .mynav .navbar-nav .nav-link:hover {
    color: #E1BE41;
    font-weight: bold;
}
/* global class */
.main-red {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background-color: #003566;
    color: #fff;
}
.main-red h2 span, .main-red p span {
    color: #E1BE41;
}
.main-red img {
    border-radius: 12px;
    box-shadow:0 3px 20px rgba(0, 0, 0, 0.5);
}
.tombol {
    background-color: #E1BE41;
}
#isiform .card {
    background-color: #003566;
}
.formulir .card-body {
    background-color: #E1BE41;
}
.formulir .form-group {
    margin-top: 15px;
    margin-bottom: 25px;
}
.formulir.card-title.button {
    text-shadow: gray;
}

/* ksb */
.ksb {
    margin-top: 100px;
}
.ksb h5 {
    text-align: center;
    font-weight: 200;
    font-size: 20px;
}
.ksb figure img {
    width: 80px;
    margin-top: 20px;
}
.ksb figure h5 {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: #1c2c5D;
}
.ksb figure p {
    font-size: 12px;
    color: #acacac;
    margin-top: -5px !important;
}
.ksb figcaption {
    text-align: center;
}
.tengah {
    text-align: center;
    width: 100%;
    margin-top: 25px;
}
.tengah h5 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    color: #003566;
}
.ksb-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}
.profil-ksb {
    width: 30%;
    margin: 0 auto;
}
.profil-ksb img {
    width: 80%;
    border-radius: 50%;
}
.ksb-list h5 {
    font-size: 15px;
    margin-top: 15px;
}
.profil-ksb p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-style: 25px;
    text-align: center;
    color: #acacac;
}
/* owl carousel */
.blog .blog-post {
    padding-top: 6rem;
}
.blog-post .blog-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}
.blog-content .blog-title {
    padding: 2rem 0;
}
.blog-content .btn-blog {
    padding: 7rem 2rem;
    background: skyblue;
    margin: .5rem;
}
.blog-content span {
    display: block;
}
section .container .owl-nav {
    position: absolute;
    top: 0%;
    width: 100%;
}
section .blog h3 {
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
    font-size: 35px;
    color: red;
    text-shadow:  0 3px 20px rgba(0, 0, 0, 1);
}
.ksb {
    margin-top: 100px;
    background-image: url(img/Abract01.png);
    /* background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
    background-size: cover;
    height: 450px;
    text-align: center;
    position: relative;
}
.ksb h3 {
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
    font-size: 35px;
    color: red;
    text-shadow:  0 3px 20px rgba(0, 0, 0, 1);
}
.ksb h5 {
    color: brown;
}
.ksb p {
    font-weight: bold;
    font-size: 20px;
    color: #E1BE41;
    text-align: center;
}
/* .card-img-top {
    box-shadow: #acacac;
    border-radius: 10px 10px 0 0;
} */
.card-group p {
    text-align: justify;
}
.card {
    margin: 10px 5px 5px;
    border-radius: 10px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}
.card-ksb {
    margin: 10px 5px 5px;
    border-radius: 10px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}
.card .card-img-top {
    opacity: 0.7px;
}
.keterangan {
    text-align: justify;
}
.main-grey {
    background-color: #f9f9f9;
}
.main-grey p {
    text-align: justify;
}
.main-atas-judul {
    color: #999;
    font-size: 22px;
    font-weight: 600;
}
section .galeri .card img {
    align-content: center;
}
.row .gal-1 img {
    text-align: center;
}
.card-gal {
    margin: 10px 5px 5px;
    border-radius: 10px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    text-align: justify;
    
}
#galeri {
    background-color: #e2edff;
}
#maps {
    background-color: #e2edff;
}
.main-biru {
    /* background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
    background-color: #003566;
    color: #fff;
    font-size: 20px;
    /* text-decoration: none; */
}
.main-biru a {
    text-decoration: none;
    color: #fff;
}